* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Bebas Neue', cursive;
}

header {
	background-color: #34558b;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    color: #34558b;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #34558b;
    color: #fff;
}

main {
	padding: 20px;
}

.dropdown {
	margin-bottom: 20px;
	border: 2px solid #34558b;
	border-radius: 5px;
	overflow: hidden;
}

.dropdown.open {
	border: 2px solid #34558b;
}

.dropdown h2 {
    background-color: #333;
    color: #fff;
	margin: 0;
	padding: 20px;
	cursor: pointer;
}

.dropdown-content {
	padding: 20px;
	display: none;
}

.dropdown.open .dropdown-content {
	display: block;
}

.dropdown-content p {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    background-color: #34558b;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}